<h1>Welcome to Rowing Diary, <%= @user.name %>!</h1>
 <p>
 You have successfully signed up to Rowingdiary.com.
 your username is: <%= @user.email %>.<br/>
 <p>Thanks for joining, we have given you a complimentary 14 day trial of Rowing Diary. Your card hasn't been charged and will only be charged at the end of the trial. We hope you enjoy the service.</p>
 <p>If you have any questions or queries just reply to this email and our support team will get back to you.</p>
 <p>We hope you have a great day!</p>
 <p>The Rowing Diary Team</p>