<h1>Welcome to Rowing Diary, <%= @user.name %>!</h1>
 <p>
 You have successfully signed up to Rowingdiary.com.
 your username is: <%= @user.email %>.<br/>
 <p>Thank you for joining. If you have any questions or queries just reply to this email and our support team will get back to you.</p>
 <p>We hope you enjoy the product.</p>
 <p>The Rowing Diary Team</p>