<div class="jumbotron center">
    <div class="row">
        <div class="panel panel-default">
  		    <div class="panel-heading">
            <h2 class="panel-title">Edit Morning Monitoring</h2>
            </div>
        <div class="panel-body">

<%= render 'form' %>

<%= link_to 'Show', @morning_monitoring %> |
<%= link_to 'Back', morning_monitorings_path %>
</div>
</div>
</div>