<div class="jumbotron center">
    <div class="row">
        <div class="panel panel-default">
  		    <div class="panel-heading">
            <h2 class="panel-title">>Editing PB</h2>
            </div>
        <div class="panel-body">

<%= render 'form' %>

<%= link_to 'Show', @pb %> |
<%= link_to 'Back', pbs_path %>
</div>
</div>
</div>