<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="panel panel-default">
  		    <div class="panel-heading">
            <h1 class="panel-title">New water</h1>
            </div>
        <div class="panel-body">

<%= render 'form' %>

<%= link_to 'Back', waters_path %>
