<div class="jumbotron center">
    <div class="row">
        <div class="panel panel-default">
  		    <div class="panel-heading">
            <h2 class="panel-title">New Weights</h2>
            </div>
        <div class="panel-body">
<%= render 'form' %>

<%= link_to 'Back', weights_path %>
</div>
</div>
</div>