
<div class="jumbotron">
     <h2>About Rowing Diary</h2>
     <p>Rowing Diary is the easiest and simplest way to manage all your rowing training data. It's been built by rowers for rowers.</p>
     <p>Our approach to building rowing diary was that as elite athletes we had everything stored in books. However with smartphones this changed everything. We wanted something more to help us analyse our own performance. So we built rowing diary to help ourselves and now for the rest of the rowing community.</p>
     <p>We've built Rowing Diary to track elements of training we felt are truley important to elite athletes.</p>

	 
	 <p>1. Ergo sessions</p>
	 <p>2. Weights session</p>
	 <p>3. Water sessions - (coming soon)</p>
	 <p>4. Morning monitoring- (coming soon)</p>

	<p>These four areas will give you enough feedback on your performance to help you make the most put of the next session.</p>

	<p>Sign up today and receive a 50% discount.</p>

	<p>If you have any questions about Rowing Diary please feel free to contact us at question@rowingdiary.com</p>   

  <%= link_to "Join today", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
