<div class="jumbotron center">
     <h1>Welcome to Rowing Diary!</h1>
     <p>Manage your ergo scores online!
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    
</div>
