<div class="kutija">
	<footer>
        <p class="text-center">
        <p>© 2013-2014 Rowing Diary · <a href="/">Home</a> - <a href="/about">About</a> - <a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="small" data-count="none">Tweet</a><div class="fb-like" data-href="http://www.rowingdiary.com" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div></p><!--<a href="#">Privacy</a> · <a href="#">Terms</a></p>-->
      </footer>
</div>